# Python (backend)
__pycache__/
*.pyc
venv/
env/

# Node (frontend)
node_modules/
.next/
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

/backend/.venv/
backend/cuda-repo-wsl-ubuntu-12-3-local_12.3.2-1_amd64.deb
backend/libtinfo5_6.4-4_amd64.deb
